div.data-plot > div {
    display: flex;
}

div.data-plot > div > div.value {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 160;
    font-size: 64px;
}

div.data-plot div.plot {
    width: 480px;
    height: 200px;
}

div.data-plot div.title {
    font-weight: bold;
    font-size: x-large;
}

div.data-plot#panel-temperature div.title::before {
    content: 'Temperature [\2103]';
}

div.data-plot#panel-pressure div.title::before {
    content: 'Pressure [Pa]';
}
div.data-plot#panel-pressure > div > div.value {
    font-size: 48px;
}

div.data-plot#panel-humidity div.title::before {
    content: 'Humidity [%RH]';
}

div.data-plot#panel-light div.title::before {
    content: 'Light [lx]';
}

div.data-plot#panel-light > div > div.value {
    font-size: 48px;
}
